
<div class="span6">
	
<h2>User</h2>	<br/>
<table class="table table-bordered table-striped">
	<thead>
		<tr>	
		<th>Name</th>
		<th>Email</th>
		</tr>	
	</thead>
	<tbody>	
			<tr>
				<td>
					<%= @user.name %>
				</td>
				<td>
					<%= @user.email %>
				</td>
			</tr>
	</tbody>
	</table>
	
</div>