 <div class="hero-unit">
        <h1>¡Prestamé!</h1>
        <p><a id="example" rel="popover" data-content="Prestamé means 'Lend Me!' in Spanish" data-original-title="[pres’-tah-me]">Prestamé</a> is an online web app for tracking your lending activities. You can view some stats and share your financial state or disgrace your debtor. This app is currently under development, can and will couse errors anytime.</p>
        <p><a class="btn btn-primary btn-large" data-toggle="modal" href="#loginModal">Get Started &raquo;</a></p>
        <script>
$(function () {
    $("a[rel*=popover]")
     .popover({
        offset: 10
     })
     .click(function(e) { 
            e.preventDefault()
     })
  });
        </script>
    </div>


<div class="row-fluid">
        <div class="span4">
          <h2>Mobile Compatible</h2>
           <p>
           Prestamé is compatible with many mobile browsers. Due to the resolution required, it is recommended to view the site with tablets. iPad is recommended.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Personalized Stats</h2>
           <p>Prestamé offers its users ability to view their personal stats. How much you've given, how much you've been repaid even how much people failed to pay.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Socialite</h2>
          <p>You don't fill out form to register. Just use your Facebook or Twitter account. You can share info any time, anywhere in Prestamé.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>
      