<div class="span6">
	
<h2>Borrowings</h2>	<br/>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Statistics</th>
    </tr>
  </thead>
  <tbody>
  	<% if !@thisisforuser %>
    <tr>
      <td># of users</td>
      <td>…</td>
    </tr>
    <% end %>
    <tr>
      <td># of debts</td>
      <td>…</td>
    </tr>
    <tr>
      <td># of active debts</td>
      <td>…</td>
    </tr>
    <tr>
      <td># of completed debts</td>
      <td>…</td>
    </tr>
    <tr>
      <td>Amount of active debts</td>
      <td>…</td>
    </tr>
    <tr>
      <td>Amount of passive debts</td>
      <td>…</td>
    </tr>
    <tr>
      <td>Total amount processed</td>
      <td>…</td>
    </tr>
  </tbody>
</table>

</div>