<!DOCTYPE html>
<html>
<head>
  <title>Prestamé</title>
  <link href="./css/bootstrap.min.css" rel="stylesheet">
  <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <meta charset="utf-8">

  <%= csrf_meta_tags %>
    <script src="./js/jquery.js"></script>
    <script src="./js/bootstrap-transition.js"></script>
    <script src="./js/bootstrap-alert.js"></script>
    <script src="./js/bootstrap-modal.js"></script>
    <script src="./js/bootstrap-dropdown.js"></script>
    <script src="./js/bootstrap-scrollspy.js"></script>
    <script src="./js/bootstrap-tab.js"></script>
    <script src="./js/bootstrap-tooltip.js"></script>
    <script src="./js/bootstrap-popover.js"></script>
    <script src="./js/bootstrap-button.js"></script>
    <script src="./js/bootstrap-collapse.js"></script>
    <script src="./js/bootstrap-carousel.js"></script>
    <script src="./js/bootstrap-typeahead.js"></script>
</head>
<body>

 <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <!--<a class="brand" href="#">Prestamé</a>-->
          <%= link_to "Prestamé",{:controller=>'home',:action=>'index'},{'class'=>'brand'}%>
          <div class="nav-collapse">
            <ul class="nav">
            	<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </li>
              <li><%= link_to "Borrowings",{:controller=>'borrow',:action=>'index'}%></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
            <p class="navbar- pull-right"><a class="btn btn-primary btn-danger" data-toggle="modal" href="#loginModal">Login</a></p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">


<%= yield %>



      <hr>
		
      <footer>
        <p>&copy; Onur Baykal 2012</p>
      </footer>

    </div>


<div id="loginModal" class="modal hide fade" style="display: none; ">
            <div class="modal-header">
              <a class="close" data-dismiss="modal">×</a>
              <h3>Login via OAuth</h3>
            </div>
            <div class="modal-body">
              <h4>Social Networks</h4>
              <a href="/auth/twitter" class="auth_provider"><img src="./img/twitter_128.png"/></a>
              <a href="/auth/facebook" class="auth_provider"><img src="./img/facebook_128.png"/></a>
            </div>
            <div class="modal-footer">
              <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
            </div>
          </div>

</body>
</html>
